p {
  text-decoration: blue
  underline wavy 2px;

/*
각 속성 값의 순서가 바뀌는 것은 상관없음 
blu wavy underline 3px; 등도 상관없습니다.*/  
  text-transform: capitalize;
  text-transform: none;
  text-transform: uppercase;
  text-transform: lowercase;
}
